header .content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: cyan;
  max-width: 100%;
}
header .content h1 {
  font-size: 4em;
  margin-bottom: 1rem;
  padding-top: 2.33rem;
  font-family: "Raleway", sans-serif;
}
header .content p {
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2rem;
  padding-top: 1.7rem;
}
header img {
  width: 100%;
  height: auto;
  display: block;
}
header .color-box {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: cyan;
  font-size: 2em;
  font-family: "Raleway", sans-serif;
}

.hero {
  padding: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2rem;
  font-size: 0.9em;
}
.hero img {
  width: 97%;
  height: auto;
  display: block;
  margin: 2.5rem auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

.services {
  width: 100%;
}
.services .heading {
  font-size: 1.4em;
  font-family: "Raleway", sans-serif;
  background-color: cyan;
  padding: 2rem;
  text-align: center;
  line-height: 2.4rem;
}
.services .main-content p {
  padding: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2rem;
}
.services .main-content .logos {
  padding: 0 2rem;
}
.services .main-content .logos ul {
  list-style-type: none;
}
.services .main-content .logos ul li {
  margin: 2rem 0;
}
.services .main-content .logos ul li i {
  font-size: 1.3em;
  background-color: rgba(128, 128, 128, 0.1);
  padding: 1rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.pics .heading {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: cyan;
  margin-bottom: 1rem;
  padding: 2rem;
  padding: 2rem;
}
.pics .para {
  font-size: 0.9em;
  margin-bottom: 1rem;
  padding: 2rem;
}
.pics .first {
  padding: 2rem;
}
.pics .first h4 {
  margin-top: -2rem;
}
.pics .first p {
  margin: 2rem 0;
}
.pics .first img {
  width: 90%;
  height: auto;
}

footer {
  width: 100%;
  color: grey;
  padding: 2rem;
  text-align: center;
}

.connect .heading {
  font-size: 2em;
  font-weight: bold;
  background-color: cyan;
  text-align: center;
  padding: 2rem;
  font-family: "Raleway", sans-serif;
}
.connect .connect-p {
  font-size: 0.9em;
  padding: 2rem;
}
.connect .form {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 2rem;
  flex-direction: column;
}
.connect .form input {
  padding: 0.7rem 0;
  width: 100%;
  margin-top: 1rem;
  border: 1px solid gray;
  outline: none;
}
.connect .form input:focus {
  border: 1px solid cyan;
}
.connect .form textarea {
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
}
.connect .form .sub {
  background-color: cyan;
  border: none;
  border-radius: 7px;
}
.connect .form .sub:hover {
  opacity: 0.6;
}
.connect .info {
  padding: 2rem;
}
.connect .info h4 {
  font-size: 1em;
}
.connect .info .link {
  font-size: 0.77em;
  text-decoration: 2px solid dotted;
  padding: 2rem;
}
.connect .info ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.connect .info ul a {
  text-decoration: none;
  color: black;
}

.buttons .heading {
  font-size: 2em;
  font-weight: bold;
  background-color: cyan;
  padding: 2rem;
}
.buttons .contentAndButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}
.buttons .contentAndButtons button {
  padding: 0.7rem;
  background-color: cyan;
  width: 100%;
  border-radius: 7px;
  border: none;
}/*# sourceMappingURL=style.css.map */